.content__base
{
    height: auto;
    width: 78.4%;
    margin-left: 0.5rem;

}


@media only screen and (max-width: 1265px) 
{

    .content__base
    {
        height: 100vh !important;
    }
   
}


@media only screen and (max-width: 768px) 
{

    .content__base
    {
        margin-top: 0.3rem !important;
        //width: 100%;
        width: 107vw !important;
    }

}