.sideBar__base
{
    height: 100%;
    padding: 1rem;
    padding-left: 1.5rem;
    background-color: $secondary;
    margin-top: -0.1rem !important;

}


@media only screen and (max-width: 768px) 
{

    .sideBar__base
    {
        margin-top: 0rem !important;
        width: 103vw !important;
    }

}