.content__baseGame
{
    
    height: auto;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameBox
{
    width: 60%;
    height: 60%;
}


.gamerBoxCover
{
    height: 100%;
    width: 100%; 
    margin: 0 !important;
    padding: 2rem;
    -webkit-box-shadow: inset -1px 1px 0px 13px rgba(204,204,204,1);
    -moz-box-shadow: inset -1px 1px 0px 13px rgba(204,204,204,1);
    box-shadow: inset -1px 1px 0px 13px rgba(204,204,204,1);
    background-color: black
}

.gamerBoxCover img
{
    height: 100%;
    width: 90%;

}


.inputGame
{
    border: none !important;
    border-bottom: 1px solid black !important;
    width: 80%;
    padding: 0.5rem;
    font-size: 2rem;
}

.gameBoxScreenShoot
{
    width: 100%;
    background-image: url('https://res.cloudinary.com/djlmqpd2n/image/upload/v1613241514/Nes%20Gallery/UI/NG-Console_omcqdh.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1.2rem;
    height: 23rem;
    -webkit-box-shadow: inset -1px 1px 0px 13px rgba(0,0,0,1);
    -moz-box-shadow: inset -1px 1px 0px 13px rgba(0,0,0,1);
    box-shadow: inset -1px 1px 0px 13px rgba(0,0,0,1);
}


.gameScreenShoot
{

    width: 50%;
    border: 1px solid white;

}   


.rateGame
{
    font-size: 3rem !important;
    color: black;
    letter-spacing: 1rem;
}


.gameActionsBox
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.btnActions
{
    width: 40%;
    margin-left: 1rem;
}



@media only screen and (max-width: 1200px) 
{
    .gameBoxScreenShoot
    {
        display: none !important;
    }
}
