.cards__colCards
{
    display: flex;
    justify-content: center;
}


.cardGame
{
    width: 12rem !important;
}


.card-header
{
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cardImg
{
    display: flex;
    justify-content: center;
    background-color: $quaternary;
    padding: 0.6rem;

    transition: color, .5s;
    
    &:hover
    {
        background-color: $primary;
    }
}

.cardImg img
{
    height: 15rem !important;
}

.card-body
{
    padding: 0.1rem !important;
    border: none !important;
    background-color: black !important;
    color: white !important;
}


.cardRate
{
    width: auto;
    height: auto;
    padding: 0.1rem;
    margin-right: 0.6rem;
}


.cardRelease
{
    background-color: black !important;
    color: white !important;
    border: 1px solid black !important;
}


@media only screen and (max-width: 1265px) 
{

   .card
   {
      border: none !important;
   }

   .card-body
   {
       display: none;
   }
   
}


@media only screen and (max-width: 767px) 
{

  

   .cards__colCards
   {
       width: 107vw !important;
       padding-left: 10px !important;
   }


   .cardGame
    {
        width: 100% !important;
    }


   .cardImg
    {
        display: block;
        height: 100% !important;

    }


   .card-body
   {
       display: block !important;
   }


    .cardGame
    {
        width: 90% !important;
    }

    .cardImg img
    {
        height: unset !important;
    }

    .img-thumbnail
    {
        width: 100%;
    }

}

///////////////////////////////////////////////////////////////////////////

.cardGender 
{
    padding: 0.3rem;
    padding-left: 1rem;

}



